{{ define "_book_nav_head" }}
    <script>
        $(document).ready(function() {
            var loc = 'song/';
            {{ if .Selected }}
                loc = '';
            {{ end }}

            $('select').change(function() {
                if ($(this).val() != '') {
                    window.location.href = loc + $(this).val();
                }
            });

            $('#choose-title').select2({width: 'resolve'});

            $('#number-frm').on('submit', function(e) {
                e.preventDefault();
                window.location.href = loc + $('#choose-num').val();
            });

            if ($('#choose-num').val() == '0') {
                $('#choose-num').val('');
            }
        });
    </script>
    <style>
        .select2  {
            margin-top: 0.5em;
            margin-bottom: 0.75em;
        }
    </style>
{{ end }}

{{ define "_book_nav_content" }}
    <h3>Jump to</h3>
    {{ $current := .Selected }}
    <form id='number-frm'>
    Number: <input type='number' id='choose-num' value='{{ .Selected }}'>
    <input type='submit' id='number-btn' value='Go'>
    </form>
    <br>
    Title: <select class='select-style' id='choose-title'>
        {{ range .Songbook.Songs }}
            <option value="{{ .SongNumber }}"
            {{ if .MatchNumber $current }}
                selected
            {{ end }}
            >{{ .Title }}</option>
        {{ end }}
    </select>
{{ end }}