{{ template "index.tmpl" . }}

{{ define "head" }}
    <style>
       .link {
            display: block;
            margin-bottom: 10px;
        }
    </style>
{{ end }}

{{ define "content" }}
    {{ with .Songbook }}    
        <h1 class='title'>{{ .Title }}</h1>
        {{ range .Songs }}
            <span class='link'><a href='song/{{ .SongNumber }}'>{{ .SongNumber }} {{ .Title }}</a></span>
        {{ end }}
    {{ end }}
{{ end }}