{{ template "index.tmpl" . }}
{{ template "_book_navigation.tmpl" .}}

{{ define "head" }}
    {{ block "_book_nav_head" .}}
    {{ end }}
{{ end }}

{{ define "content" }}
    <h3 class='title'>{{ .Songbook.Title }} #{{ .Song.SongNumber }}</h3>
    <table style="width:100%;">
        <tr>
            <td style='width: 33%;'>
            {{ if .PrevSong }}
                <a href='{{ .PrevSong }}'>Prev ({{ .PrevSong }})</a>
            {{ end }}                
            </td>
            <td style='text-align: center; width: 33%;'>
                <a href='../index'>Index</a>
            </td>
            <td style='text-align: right;'>
            {{ if .NextSong }}
                <a href='{{ .NextSong }}'>Next ({{ .NextSong }})</a>
            {{ end }}
            </td>
        </tr>
    </table>
    <br>
    {{ block "_book_nav_content" .}}
    {{ end }}
    {{ template "_display_song.tmpl" .}}
{{ end }}