{{ template "index.tmpl" . }}
{{ template "_book_navigation.tmpl" .}}

{{ define "head" }}
    {{ block "_book_nav_head" . }}
    {{ end }}
    <style>
       .link {
            display: block;
            margin-bottom: 10px;
        }
    </style>
{{ end }}

{{ define "content" }}
    <h1 class='title'>{{ .Songbook.Title }}</h1>
    {{ block "_book_nav_content" .}}
    {{ end }}
    {{ range .Songbook.Songs }}
        <span class='link'><a href='song/{{ .SongNumber }}'>{{ .SongNumber }} {{ .Title }}</a></span>
    {{ end }}
{{ end }}