{{ template "index.tmpl" . }}

{{ define "head" }}
    <style>
       .link {
            display: block;
            margin-bottom: 10px;
        }
    </style>
{{ end }}

{{ define "content" }}    
    {{ $link := .BookLink }}
    {{ with .Songbook }}    
        {{ range .Songs }}
            <span class='link'><a href='{{ $link }}/{{ .SongNumber }}'>{{ .SongNumber }} {{ .Title }}</a></span>
        {{ end }}
    {{ end }}
{{ end }}