<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Title}}</title>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="/js/select2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/select2.min.css">

        <script>
            $(document).ready(function() {
                $('#choose-song').change(function() {
                    if ($('#choose-song').val() != '') {
                        window.location.href = '/song/' + $('#choose-song').val();
                    }
                });

                $('#choose-book').change(function() {
                    if ($('#choose-book').val() != '') {
                        window.location.href = '/book/' + $('#choose-book').val();
                    }
                });

                $('#choose-song').select2({width: 'resolve'});
                $('#choose-book').select2({width: '328px'});
            });
        </script>

        {{ block "head" .}}
        {{ end }}
    </head>
    <body>
        <div class='container'>
            <div class="col-sm-2 col-md-3"></div>
            <div class="col-sm-8 col-md-6 center">
                {{ if not .ShowIndigo }}
                    <a href='/'><h3 class='title'>Home</h3></a>
                {{ else }}
                    <h1 class='title'>{{ .Title }}</h1>
                {{ end }}

                {{block "content" .}}
                    {{ template "_song_select.tmpl" .}}
                    {{ template "_book_select.tmpl" .}}
                    <div class='error'>{{ .Error }}</div>
                    <h3>Recent Songs:</h3>
                    {{ range .Recent }}
                        <a href='/song/{{ .Link }}'>{{ .Title }}</a><br><br>
                    {{ end }}
                {{end}}
            </div>
        </div>
    </body>
</html>