<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=500" />   
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="/js/select2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/select2.min.css">

        <script>
            $(document).ready(function() {
                $('#choose-song').change(function() {
                    window.location.href = '/song/' + $('#choose-song').val();
                });

                $('#choose-book').change(function() {
                    window.location.href = '/book/' + $('#choose-book').val();
                });

                $('#choose-song').select2({width: 'resolve'});
                $('#choose-book').select2({width: '328px'});
            });
        </script>

        {{ block "head" .}}
        {{ end }}
    </head>
    <body>
        <div class='wrapper'>
            <div id="content">
                {{ if not .ShowIndigo }}
                    <a href='/'><h3 class='title'>Home</h3></a>
                {{ else }}
                    <h1 class='title'>{{ .Title }}</h1>
                {{ end }}

                {{ $sel_song := .SelectedSong }}

                <!-- Select a song -->
                <div id='song-select-div'>
                    <select class='select-style' id='choose-song' name='choose_song'>
                        <option value="Select A Song">Select A Song</option>
                        {{ range .Songs }}
                            <option value="{{ .Link }}"
                            {{ if .MatchTitle $sel_song }}
                                selected
                            {{ end }}
                            >{{ .Title }}</option>
                        {{ end }}
                    </select>
                </div>

                {{ $sel_book := .SelectedBook }}

                <!-- Select a book -->
                <div id='book-select-div'>
                    <select class='select-style' id='choose-book' name='choose_book'>
                        <option value="Select A Songbook">Select A Songbook</option>
                        {{ range .Books }}
                            <option value="{{ .Link }}"
                            {{ if .MatchTitle $sel_book }}
                                selected
                            {{ end }}
                            >{{ .Title }}</option>
                        {{ end }}
                    </select>
                </div>

                {{block "content" .}}
                {{end}}
            </div>
        </div>
    </body>
</html>