<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=500" />   
        <title>{{.Title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="/js/select2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/select2.min.css">

        <script>
            $(document).ready(function() {
                $('#choose-song').change(function() {
                    if ($('#choose-song').val() != '') {
                        window.location.href = '/song/' + $('#choose-song').val();
                    }
                });

                $('#choose-book').change(function() {
                    if ($('#choose-book').val() != '') {
                        window.location.href = '/book/' + $('#choose-book').val();
                    }
                });

                $('#choose-song').select2({width: 'resolve'});
                $('#choose-book').select2({width: '328px'});
            });
        </script>

        {{ block "head" .}}
        {{ end }}
    </head>
    <body>
        <div class='wrapper'>
            <div id="content">
                {{ if not .ShowIndigo }}
                    <a href='/'><h3 class='title'>Home</h3></a>
                {{ else }}
                    <h1 class='title'>{{ .Title }}</h1>
                {{ end }}

                {{block "content" .}}
                    {{ template "_song_select.tmpl" .}}
                    {{ template "_book_select.tmpl" .}}
                    <div class='error'>{{ .Error }}</div>
                    <h3>Recent Songs:</h3>
                    {{ range .Recent }}
                        <a href='/song/{{ .Link }}'>{{ .Title }}</a><br><br>
                    {{ end }}
                {{end}}
            </div>
        </div>
    </body>
</html>