{{ block "head" .}}
    <script src="/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
    <style>
        .body {
            color: #332200;
        }

        .comment {
            color: #AAAAAA;
        }

        .section {
            color: #77AACC;
        }

        .chorus {
            margin-left: 10mm;
            color: #435400;
        }

        .chord {
            color: #0005AA;
        }

        .echo {
            color: grey;
        }

        .hidden {
            visibility: hidden;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#choose-song').change(function() {
                window.location.href = '/song/' + $('#choose-song').val();
            });

            $('#choose-song').select2();
        });
    </script>
{{ end }}

{{ block "search-title" .}}
    
{{end}}

{{ block "content" .}}
    {{ if .HasSong }}
        <a href='/'><h3 class='title'>Home</h3></a>
    {{ else }}
        <h1 class='title'>{{ .Title }}</h1>
    {{ end }}
    
    <!-- Select a song -->
    <div id='song-select-div'>
        <select class='select-style' id='choose-song' name='choose_song'>
            <option value="Select A Song">Select A Song</option>
            {{ range .Songs }}
                <option value="{{ . }}">{{ . }}</option>
            {{ end }}
        </select>
    </div>
    {{ if .HasSong }}
        {{ with .Song }}
            <form action=''>
                <input class='button' type='submit' value='Capo'>
                <input 
                    type='text' 
                    name='transpose' 
                    size='2' 
                    style='height: 25px; text-align:center;'
                    value='{{ .Transpose }}'>
            </form>
            <br>
            <a href='/pdf/{{ .Link }}?transpose={{ .Transpose }}'>Get PDF Version</a>
            <br>
            <h1 class='title'>{{ .Title }}</h1>
            <span class='section'>{{ .Section }}</span><br>

            {{ range .BeforeComments }}
                <span class='comment'>{{ . }}</span><br>
            {{ end }}
            {{ if .HasBeforeComments }}
                <br>
            {{ end }}

            {{ range .Stanzas }}
                {{ if .IsChorus }}
                    <div class='chorus'>
                {{ end }}

                {{ range .BeforeComments }}
                    <span class='comment'>{{ . }}</span><br>
                {{ end }}

                {{ $print_chords := .HasChords }}
                
                {{ range $line := .Lines }}
                    {{ if $print_chords }}
                        {{ range $chord := .Chords }}
                            <span class='hidden'>
                                {{- $line.PreChordText $chord -}}
                            </span><span class='chord'>{{- .Text -}}</span>
                        {{ end }}
                        <br>
                    {{ end }}
                    {{ .PreEchoText }}
                    {{- if .HasEcho -}}
                        <span class='echo'>{{ .EchoText }}</span>
                    {{- end -}}
                    <br>
                {{ end }}
                {{ range .AfterComments }}
                    <span class='comment'>{{ . }}</span><br>
                {{ end }}
                <br>

                {{ if .IsChorus }}
                    </div>
                {{ end }}
            {{ end }}
            {{ range .AfterComments }}
                <span class='comment'>{{ . }}</span><br>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}